/* Small devices (landscape phones, 576px and up) */
@media (min-width: 1400px) { 
.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 2px;
}
}


@media (max-width: 1000px) { 
.nav-item.nav-link.ture.my-2 {
    padding-left: 10px;
}

}
@media (min-width: 800px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 2px;
}



}
@media (max-width: 768px) { 

.top-ment-content-4 {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.top-ment-content-5 {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.top-ment-content-7 {
    padding-right: 20px;
}

.top-ment-content-6 {
visibility: hidden;
    overflow: hidden;
    display: none;
}


.container-fluid.logo-main {
    background-color: #232f3e;
}

.logo-top-main {
    width: 15%;
    padding: 10px 0px 10px 0px;
    visibility:
visible;
    overflow: visible;
}

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 6.9vw;
}

.secend-menu {
    visibility: hidden;
    overflow: hidden;
    display: none;
}


.logo-top {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.search_bar.larger {
    max-width: 634px;
}

.top-ment-content-3 {
    width: 400%;
}

.in-global-product.gp {
    height: 300px;
}

.inBasics {
    width: 100%;
}


.in-global-product.pg {
    height: 120px;
}


.main-carousel-pic {
    width: 100% !important;
    height: 600px;
    overflow: hidden;
    background-size: cover;
}


.carousel-item.active {
    height: 225px;
    overflow: hidden;
}


.hc-nav-trigger {
    padding: 35px 0px 0px 0px;
    height: 40px;
}


.navbar-nav {
    margin-left: 264px;
}


.toggle.hc-nav-trigger.hc-nav-1 {
}

.navbar-nav {
    margin-left: 100px;
}


#footer-bottom .d-flex.justify-content-center.pt-4.pb-3 {
    padding-left: 15px;
}


}
@media (max-width: 600px) { 


.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 7.9vw;
}

.navbar-nav {
    margin-left: 180px;
}

}
@media (max-width: 500px) { 
.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.1vw;
}


}


@media (max-width: 438px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 37.5px;
}

@media (max-width: 414px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.1vw;
}

.navbar-nav {
    margin-left: 120px;
}


.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.5vw;
}


}





}
@media (max-width: 412px) { 


.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.1vw;
}

.navbar-nav {
    margin-left: 120px;
}

}
@media (max-width: 375px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.7vw;
}

}
@media (max-width: 360px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 9.5vw;
}

.navbar-nav {
    margin-left: 95px;
}

}
@media (max-width: 320px) { 

.toggle.hc-nav-trigger.hc-nav-1 {
    margin-top: 10.2vw;
}

.navbar-nav {
    margin-left: 76px;
}


}


























